body{
    font-family: 'Roboto', sans-serif;
    background-color: grey;
}

a { text-decoration: none; }

h1{
    font-size: 24px;
    font-family: 'Noto Sans', sans-serif;
}

p{
    font-size: 14px;
}

#grid-container{
    background-color: white;
    margin: auto;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 200px 110px 60px 200px 200px 60px;
    max-width: 1000px;
}

#header{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url('../img/dieren.jpg');
    background-size: cover;
    margin: 25px 0 25px 0;
    max-width: 360px; 
     
}

ul{
    background-color:black;
    margin: 0 0 50px 0;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 3;
}

li{
    display: inline-block;
    background-color: #A0522D	;
    margin: 0 25px 0 90px;
    padding: 0 20px 0 20px;
    line-height: 60px;
}

li:hover{
    background-color: white;
}

#image1{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    max-width: 420;    
}

#text1{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
    max-width: 420;
    margin-top: 40px;      
}

#text2{
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 6;
    max-width: 420;
    margin-top: 40px;    
}

#image2{
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 5;
    max-width: 420;         
}


footer{
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 8;
    grid-row-end: 9;   
    background-color: black;
}

#p-footer{
    margin: 0px 0 0 400px;
    color: white;
}


#grid-container2{
    background-color: white;
    margin: auto;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 200px 110px 200px 200px 200px 60px;
    max-width: 1000px;
}

#leeuw-image{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 6;
    max-width: 420;   
}

#text1-1{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-bottom: 20px;
     
}

#text1-2{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-bottom: 20px;

}

#text1-3{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-bottom: 20px;
   
}

#image1-1{
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url('../img/leeuw1.jpg');
    background-size: cover;
}

#image1-2{
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 5;
    background-image: url('../img/leeuw2.jpg');
    background-size: cover;
}

#image1-3{
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 6;
    background-image: url('../img/leeuw3.jpg');
    background-size: cover;
}

#grid-container3{
    background-color: white;
    margin: auto;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 200px 110px 120px 200px 120px 60px;
    max-width: 1000px;
}

#long-image{
    margin-bottom: 20px;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url('../img/longolifant.jpg');
    background-size: cover;

}

#blok1{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: grey;
    margin-right: 50px;
}

#blok2{
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: grey;
    margin-left: 50px;
}

h1{
    background-color: black;
    padding-left: 130px;
    color: white;
}

#p-blok{
    padding-left: 20px;
}

#long-image2{
    margin-top: 20px;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 6;
    background-image: url('../img/longolifant.jpg');
    background-size: cover;
}

#grid-container4{
    background-color: white;
    margin: auto;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 200px 110px 100px 100px 190px 190px 60px;
    max-width: 1000px;
}

#blokje1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url('../img/giraf1.jpg');
    background-size: cover;
    margin-bottom: 20px;
}

#blokje2{
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url('../img/giraf2.jpg');
    background-size: cover;
    margin-bottom: 20px;
}

#blokje3{
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url('../img/giraf3.jpg');
    background-size: cover;
    margin-bottom: 20px;
}

#tekst{
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 5;
    
}

#groot-blok{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 7;
    background-image: url('../img/giraf3.jpg');
    background-size: cover;
}

#kleinblokje1{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 6;
    background-image: url('../img/girafklein.jpg');
    background-size: cover;
}

#kleinblokje2{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 7;
    background-image: url('../img/girafklein2.jpg');
    background-size: cover;
}

#girafblok{
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 7;
    background-image: url('../img/giraf5.jpg');
    background-size: cover;
}